@import url("../../common/styles/variables/colors.css");

.container {
  background-color: var(--background);
  color: var(--white);
  width: 400px;
}

.title-container {
  padding: 1rem;
  text-align: center;
  border: 1px solid var(--gray-1)
}

.calculator-container {
  padding: 1rem;
  text-align: center;
}

.buy-sell-selection span:nth-child(1).selected{
  color: var(--green);
}

.buy-sell-selection span:nth-child(3).selected{
  color: var(--red);
}

.buy-sell-selection span {
  color: var(--gray-2);
  cursor: pointer;
}

.input-amount {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}