@import url("./variables/colors.css");

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.app {
  background: linear-gradient(180deg, #494FEC -6.23%, #270065 6.12%, #160A31 20.44%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.app .cta-container {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .app .cta-container {
    margin-left: 0;
  }
}