.token-value-container {
  background: var(--gray-3);
  border: 1px solid var(--gray-4);
  padding: 0.75rem 0.625rem;
  display: flex;
  align-items: center;
  color: var(--white);
  border-radius: 0.75rem;
  justify-content: space-between;
  cursor: pointer;
}

.token-dropdown {
  position: absolute;
  top: 0;
  background: var(--background);
  height: 100%;
  z-index: 2;
  width: 100%;
  margin: 0 -1rem;
}