.token-value-container {
  background: var(--gray-3);
  border: 1px solid var(--gray-4);
  padding: 0.75rem 0.625rem;
  display: flex;
  align-items: center;
  color: var(--white);
  border-radius: 0.75rem;
  justify-content: space-between;
  cursor: pointer;
}