.dropdown-container {
  height: 100%;
}

$total-items: 10;

.dropdown-container .search-container {
  padding: 0.75rem;
  border-bottom: 2px solid var(--gray-1);
}

.dropdown-container .list-container {
  padding: 0 0.75rem;
  height: calc(100% - 76px);
  overflow-x: auto;
  // overflow-y: hidden;
}

.dropdown-container .list-container::-webkit-scrollbar {
  width: 4px;
}

.dropdown-container .list-container::-webkit-scrollbar-track {
  background: var(--gray-1);
}

/* Handle */
.dropdown-container .list-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
.dropdown-container .list-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-container .list-container .list-item {
  border-bottom: 2px solid var(--gray-1);
  padding: 0.75rem 0;
  cursor: pointer;
  animation: fadeIn 0.3s linear;
  animation-fill-mode: both;
  position: relative;
}

@for $i from 1 through $total-items {
  .list-item:nth-child(#{$i}) {
    animation-delay: 0.15s * $i;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 50px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
