.cta-container {
	display: flex;
	flex-direction: column;
	color: #fff;
	border-radius: 12px;
	width: 224px;
	padding: 1rem 1.5rem;
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url('/public/cta-background.png');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
}

.cta-container .description {
	margin-bottom: 12rem;
}

.cta-container .title {
	display: flex;
	margin-bottom: 1rem;
}

.cta-container .button {
	width: 80%;
	cursor: pointer;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3967);
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #000000;
	border-radius: 12px;
	color: var(--white);
	border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
	border-image-source: conic-gradient(from 90deg at 50% 50%, #EF18AE -9.1deg, #5A47D3 8.59deg, #35DF4B 171.41deg, #FFB200 188.48deg, #EF18AE 350.9deg, #5A47D3 368.59deg);
}

.cta-container .button div {
	padding: 0.75rem 0.5rem;
	border-radius: 12px;
	border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
	border-image-source: conic-gradient(from 90deg at 50% 50%, #EF18AE -9.1deg, #5A47D3 8.59deg, #35DF4B 171.41deg, #FFB200 188.48deg, #EF18AE 350.9deg, #5A47D3 368.59deg);
}