.cta-container {
	display: flex;
	flex-direction: column;
	color: #fff;
	border-radius: 12px;
	width: 284px;
	padding: 1rem 1.5rem;
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url('/public/cta-background.png');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.cta-container .description {
	margin-bottom: 12rem;
}

.cta-container .title {
	display: flex;
	margin-bottom: 1rem;
}

.cta-container button {
	width: 80%;
  height: 40px;
	color: #fff;
  border: solid 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(#000, #000), 
	conic-gradient(from 90deg at 50% 50%, #EF18AE -9.1deg, #5A47D3 8.59deg, #35DF4B 171.41deg, #FFB200 188.48deg, #EF18AE 350.9deg, #5A47D3 368.59deg);
  background-origin: border-box;
  background-clip: padding-box, border-box;
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 768px) {
  .cta-container {
    max-width: 300px;
    width: calc(100% - 32px);
  }
}